body {
  background: #c7b39b url(background1.jpg);
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
a {
  color: black;
  font-family: "arial", "times new roman";
  font-size: 18px;
  width: 100%;
}
a:hover {
  color: #db7093;
}

h1 {
  display: inline-block;
  font-size: 30px;
}
div {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
}

header div ul {
  list-style-type: none;
}

ul li {
  display: inline-block;
  margin-left: 25px;
}
h1 {
  background-color: white;
  opacity: 70%;
  font-family: "Kaushan Script", cursive;
  color: black;
  font-size: 34px;
  padding: 10px;
  margin: 0 auto;
}

h2 {
  font-family: "Neucha", cursive;
  color: #db7093;
  padding: 20px;
  font-size: 30px;
  margin: 15px;
  border-bottom: 3px;
}

h3 {
  background-color: white;
  font-family: "Neucha", cursive;
  color: #db7093;
  padding: 200px;
  font-size: 30px;
  margin: 15px;
  border-bottom: 3px;
}

.aboutme {
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: white;
  width: 60%;
  float: left;
  margin-top: -70px;
  padding: 50px;
  margin-left: 30px;
}
.img {
  padding: 5px;
  float: left;
}

@media (min-width: 600px) {
  p {
    font-size: 20px;
  }
}
@media (min-width: 800px) {
  p {
    font-size: 16px;
  }
}
label {
  color: white;
}

.form {
  background: #c7b39b url(background.jpg);
  padding: 30px;
  float: right;
  margin: 70%;
  height: 30%;
  border: white;
  border-width: 25px;
}
input {
  margin-top: 10px;
  margin-left: 10px;
  height: 40px;
  width: 250px;
  border-radius: 20px/20px;
  border: none;
  padding-left: 15px;
}
input:focus {
  border: 2px solid #db7093;
}
button {
  cursor: pointer;
}

footer {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
  background-color: cornsilk;
  position: absolute;
  bottom: 0;
  padding: 10px;
  width: 100%;
}
